input[type="radio"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

input[type="radio"]:hover {
    border-color: #000;
}

input[type="radio"]:checked {
    border-color: #000;
    background-color: #000;
}

input[type="radio"]:checked::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #0dcaf0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 26px;
    background-color: #fff;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    transition: background-color 0.3s;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0dcaf0;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #000;
}

input[type="checkbox"]:checked::before {
    transform: translateX(24px);
}